@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">


<div class="container">
    <div class="content ">

    </div>
    <div class="flex-lg-row">

        <a>
            <img src="~/img/rsz_al-110x153[1].png" title="Aladdin Blueray 1020px" />
        </a>

        <a>
            <img src="~/img/sssss-110x153[1].jpg" title="Red Sea 1020px" />
        </a>
        @*
        <a>
            <img src="~/img/3.jpg" />
        </a>

        <a>
            <img src="~/img/4.jpg" />
        </a>*@

        <a>
            <img src="~/img/960x0-110x153[1].jpg" title="Point Black (Blueray) 1020px" />
        </a>

        <a>
            <img src="~/img/D5s5emdU8AAais9-110x153[1].jpg" title="Pikachu (Blueray) 1020px" />
        </a>

        <a>
            <img src="~/img/epic-heroes-hellboy-specialty-poster-2-rgb-110x153[1].jpg" title="Hell Boy (Blueray) 1020px" />
        </a>

        <a>
            <img src="~/img/godzilla_1-110x153[1].jpg" title="Godzilla (Blueray) 1020px" />
        </a>

        <a>
            <img src="~/img/Long-shot-clean-110x153[1].jpg" title="Long Shot Clean (Blueray) 1020px" />
        </a>

        <a>
            <img src="~/img/parasite-french-movie-poster-110x153[1].jpg" title="Parasite (Blueray) 1020px" />
        </a>

    </div>

    <div class="row">
        <div class="col">
            <div>

                <br />
                <p class="text-center">Select the desired Category</p>
                <div class="list-group">
                    <a asp-action="Customers" class="list-group-item list-group-item-action d-flex justify-content-between">Customers<i class="fas fa-users"></i></a>
                    <hr />
                    <a asp-action="Videos" class="list-group-item list-group-item-action d-flex justify-content-between">Videos <i class="fas fa-video"></i></a>
                </div>
            </div>
        </div>
    </div>

</div>


