@{
    ViewData["Title"] = "Videos";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
    <div class="text-center">
        <h2>Successfully Added</h2>
    </div>
</body>
</html>

